<launch>
<!--
  <include file="$(find coffee_robot)/launch/perception_up.launch" /> 

   Setup map Fusion -->

  <arg name="map_file" default="/home/ubuntu/map.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- Setup LIDAR based localisation -->

  <include file="$(find coffee_robot)/launch/localisation/amcl.launch" /> 

  <!-- Setup EKF Fusion -->
  <node name="global_ekf" pkg="robot_localization" type="ekf_localization_node" output="screen" >
    <rosparam file="$(find coffee_robot)/param/localisation/ekf_global_param_laser.yaml" command="load" />
  </node>


  <!-- Start the move base 

  <include file="$(find coffee_robot)/launch/nav/move_base.launch" /> -->

</launch>
