<launch>

  <arg name="map_file" default="/home/ubuntu/map.yaml" />

  <!-- Turn on camera and lidar -->
  <include file="$(find coffee_robot)/launch/perception/perception_up.launch" />

  <!-- Just reuse the remote localisation stack -->

  <include file="$(find coffee_robot)/launch/nav/remote_localisation.launch" />


</launch>
