<!-- 
    Copied from magni-demos simple navigation. 
    This file creates attempts to initialize gmapping and fiducial nav at the same time.... 


-->
<launch>
    <!-- 
        This parameter is used to specify what level of capabilites
        the robot should have after this launch file.

        Possible values are 'core', 'teleop', and 'navigation'

        Setting to teleop as this mapping is for teleoperation. 
    -->
    <param name="ubiquity_robot_mode" type="string" value="teleop"/> 

    <node pkg="gmapping" name="gmapping_node" output="screen" type="slam_gmapping">

        <param name="scan" value="scan"/>
        <param name="map_frame" value="map"/>
    </node>

    <include file="$(find coffee_robot)/launch/rplidar.launch" />

    <include file="$(find magni_nav)/launch/move_basic.launch" />
    <include file="$(find coffee_robot)/launch/aruco.launch">
    </include>
</launch>
