<launch>

  <!-- Setup Fiducial Based localisation -->

  <param name="ubiquity_robot_mode" type="string" value="navigation" />

  <include file="$(find coffee_robot)/launch/aruco.launch" > 
     <arg name="pub_tf" value="true" />
  </include>


  <!-- Setup LIDAR based avoidance -->

  <include file="$(find coffee_robot)/launch/rplidar.launch" />

  <arg name="map_file" default="/home/ubuntu/house.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <!-- Start the move base -->

  <include file="$(find coffee_robot)/launch/move_base.launch" />

</launch>
