<launch>

  <!-- Setup Fiducial Based localisation, do it without raspicam.... -->

  <include file="$(find coffee_robot)/launch/aruco_no_camera.launch" />

  <!-- Setup map Fusion -->

  <arg name="map_file" default="/home/john/map.yaml" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Setup EKF Fusion -->
  <node name="global_ekf" pkg="robot_localization" type="ekf_localization_node" output="screen" >
    <rosparam file="$(find coffee_robot)/param/ekf_global_param.yaml" command="load" />
  </node>

  <!-- Setup LIDAR based localisation -->

  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find coffee_robot)/param/amcl_param.yaml" command="load" />
  </node> 

  <!-- Start the move base -->

  <include file="$(find coffee_robot)/launch/move_base.launch" /> 

</launch>
