<html>

<head>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- ROS stuff -->
	<script type="text/javascript" src="https://static.robotwebtools.org/EaselJS/current/easeljs.min.js">

	</script>
	<script type="text/javascript" src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js">

	</script>
	<script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

	</script>
	<script type="text/javascript" src="https://static.robotwebtools.org/ros2djs/current/ros2d.min.js">

	</script>
	<!-- Vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue">

	</script>
</head>

<body>
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-12 col-sm-6 text-center">
				<h3>Connection status</h3>
				<p class="text-danger" v-if="!connected">Not connected!</p>
				<p class="text-success" v-if="connected">Connected!</p>
				<label>ROSBridge address</label>
				<br>
				<input type="text" v-model="rosbridge_address" />
				<br><br>
				<button :disabled="loading" class="btn btn-danger" @click="disconnect"
                    v-if="connected">Disconnect!</button>
				<button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
			</div>
			<div class="col-md-12 col-sm-6" style="overflow:auto;">
				<div class="row">
					<div class="col-md-12 text-center">
						<h5>Available services</h5>
					</div>

					<!-- 1st row -->
					<div class="col-md-12 text-center my-2">
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="main.js">
	</script>
</body>

</html>